In [1]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv('census_test.csv')
percentage_fill = df.count(0)/df.shape[0] * 100
df = df.dropna(how = 'any')
del df['education_num']
df = pd.get_dummies(df)
df.head()

,age,hours_per_week,greater_than_50k,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,native_country_Portugal,native_country_Puerto-Rico,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia
0,25,40,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,50,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,40,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,40,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,34,30,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [65]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [66]:
def str_column_to_float(dataset, column):
    for row in dataset:

        row[column] = float(row[column].strip())

In [67]:
labels = np.array(df['greater_than_50k'])
df = df.drop('greater_than_50k', axis = 1)
feature_list = list(df.columns)
features = np.array(df)
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size = 0.25, 
                                                    random_state = 42)

In [68]:
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)
from sklearn.preprocessing import LabelEncoder

In [69]:
#le = LabelEncoder()
#le.fit(X_train)
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)
rf.fit(X_train, y_train)

Training Features Shape: (11295, 99)
Training Labels Shape: (11295,)
Testing Features Shape: (3765, 99)
Testing Labels Shape: (3765,)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [77]:
predictions = rf.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.19 degrees.

In [79]:
mape = 100 * (errors / len(y_test))
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 99.99 %.